body{
    background-color: #ADD8E6;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 
li{
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #cold{
    color: tomato;
}
#ced{
    font-weight: bold;
    font-size: 30px;
}
.rs span{
    color:tomato;
}
footer{
    background-color: white;
}